## Creating a table in ORM

In [1]:
#This program uses SQL Alchemy to model table schemas to load data from csv files hawaii_stations, and clean_hawaii_measurements
#into tables in a sqllite database.

In [2]:
# Import SQLAlchemy's declarative_base module, based upon which new classes are created
from sqlalchemy.ext.declarative import declarative_base

# Base is akin to a template for creating classes
Base = declarative_base()

In [3]:
# Modules necessary to declare columns and column data types
from sqlalchemy import Column, Integer, String, Date, Numeric, Float

In [4]:
#Importing other needed libraries
import pandas as pd
import time
import datetime

In [5]:
# Create a class for Station
class Station(Base):
    __tablename__ = 'hawaii_station'
    
    #__table_args__ = {'extend_existing': True} 
    
    id = Column(Integer, primary_key=True)
    station_abbr = Column(String(15), index=True)
    station_name = Column(String(50))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return "<User(%r, %r)>" % (self.station_abbr, self.station_name)

In [6]:
# Display the schema of the table we just created
Station.__table__

Table('hawaii_station', MetaData(bind=None), Column('id', Integer(), table=<hawaii_station>, primary_key=True, nullable=False), Column('station_abbr', String(length=15), table=<hawaii_station>), Column('station_name', String(length=50), table=<hawaii_station>), Column('latitude', Float(), table=<hawaii_station>), Column('longitude', Float(), table=<hawaii_station>), Column('elevation', Float(), table=<hawaii_station>), schema=None)

In [7]:
# Create a class for Station Measurement
class Station_Measurement(Base):
    __tablename__ = 'hawaii_station_measurement'
    
    __table_args__ = {'extend_existing': True} 
    
    id = Column(Integer, primary_key=True)observed_temperature_F
    station_abbr = Column(String(15))
    measurement_date = Column(String(15))
    precipitation = Column(Float)
     = Column(Integer)
    
    def __repr__(self):
        return "<User(%r, %r)>" % (self.station_abbr, self.measurement_date)

In [8]:
#Ensure that the measurement class looks the way you envisioned
Station_Measurement.__table__

Table('hawaii_station_measurement', MetaData(bind=None), Column('id', Integer(), table=<hawaii_station_measurement>, primary_key=True, nullable=False), Column('station_abbr', String(length=15), table=<hawaii_station_measurement>), Column('measurement_date', String(length=15), table=<hawaii_station_measurement>), Column('precipitation', Float(), table=<hawaii_station_measurement>), Column('observed_temperature_F', Integer(), table=<hawaii_station_measurement>), schema=None)

In [9]:
# First create the engine, to enable Python to communicate with SQL
from sqlalchemy import create_engine

# The database file we create will be called hawaii.sqlite
engine = create_engine('sqlite:///hawaii.sqlite')
Base.metadata.create_all(engine)

In [10]:
# To persist the Station and Measurement objects into, and load from, the database, we use a Session object
# A session is akin to a conversation between Python and SQL
from sqlalchemy.orm import Session

# Declare a session
session = Session(bind=engine)

In [11]:
#Load the hawaii_stations data into the sqllite database, using the ORM class defined above
try:
        #Read the csv into a dataframe
        df_stations = pd.read_csv("hawaii_stations.csv") 

        #Loop through the rows of the dataframe and add to an object, to add to the session
        for index, row in df_stations.iterrows():
            station_row = Station(station_abbr = row["station"],
                                  station_name= row["name"], 
                                  latitude = row["latitude"],
                                  longitude = row["longitude"],
                                  elevation = row["elevation"] )                         
            
            #Now add the row to the session
            session.add(station_row)
            print("Inserted row")

        #Commit all the rows    
        session.commit() 
        
except:
        session.rollback() #Rollback the changes on error
        
finally:
        session.close() #Close the connection
        
#print "Time elapsed: " + str(time() - t) + " s." #0.091s

Inserted row
Inserted row
Inserted row
Inserted row
Inserted row
Inserted row
Inserted row
Inserted row
Inserted row

In [12]:
# Make a query to verify addition of Station object
print(session.query(Station).first())

<User('USC00519397', 'WAIKIKI 717.2, HI US')>

In [13]:
#Load the hawaii_measurements data into the sqllite database, using the ORM class defined above
try:
        #Read the csv into a dataframe
        df_station_measurement = pd.read_csv("clean_hawaii_measurements.csv") 

        #Loop through the rows of the dataframe and add to an object, to add to the session
        for index, row in df_station_measurement.iterrows():
            measurement_row = Station_Measurement(station_abbr = row["station"],
                                                  measurement_date= row["date"], 
                                                  precipitation = row["prcp"],
                                                  observed_temperature_F = row["tobs"] ) 
            
            #Now add the row to the session
            session.add(measurement_row)

        #Commit all the rows    
        session.commit() 
        
except:
        session.rollback() #Rollback the changes on error
        print("Sorry could not insert row")
        
finally:
        session.close() #Close the connection
        
#print "Time elapsed: " + str(time() - t) + " s." #0.091s

In [14]:
# Make a query to verify addition of the Station_Measurement object
print(session.query(Station_Measurement).first())

<User('USC00519397', '2010-01-01')>

In [16]:
#df_station_measurement.loc[df_station_measurement['station'] == "USC00519397"]
df_station_measurement

       Unnamed: 0      station        date    prcp  tobs
0               0  USC00519397  2010-01-01    0.08    65
1               1  USC00519397  2010-01-02    0.00    63
2               2  USC00519397  2010-01-03    0.00    74
3               3  USC00519397  2010-01-04    0.00    76
4               4  USC00519397  2010-01-06 -999.00    73
5               5  USC00519397  2010-01-07    0.06    70
6               6  USC00519397  2010-01-08    0.00    64
7               7  USC00519397  2010-01-09    0.00    68
8               8  USC00519397  2010-01-10    0.00    73
9               9  USC00519397  2010-01-11    0.01    64
10             10  USC00519397  2010-01-12    0.00    61
11             11  USC00519397  2010-01-14    0.00    66
12             12  USC00519397  2010-01-15    0.00    65
13             13  USC00519397  2010-01-16    0.00    68
14             14  USC00519397  2010-01-17    0.00    64
15             15  USC00519397  2010-01-18    0.00    72
16             16  USC00519397  2010-01-19    0.00    66
17             17  USC00519397  2010-01-20    0.00    66
18             18  USC00519397  2010-01-21    0.00    69
19             19  USC00519397  2010-01-22    0.00    67
20             20  USC00519397  2010-01-23    0.00    67
21             21  USC00519397  2010-01-24    0.01    71
22             22  USC00519397  2010-01-25    0.00    67
23             23  USC00519397  2010-01-26    0.04    76
24             24  USC00519397  2010-01-27    0.12    68
25             25  USC00519397  2010-01-28    0.00    72
26             26  USC00519397  2010-01-30 -999.00    70
27             27  USC00519397  2010-01-31    0.03    67
28             28  USC00519397  2010-02-01    0.01    66
29             29  USC00519397  2010-02-03 -999.00    67
...           ...          ...         ...     ...   ...
19520       19520  USC00516128  2017-07-24    0.84    77
19521       19521  USC00516128  2017-07-25    0.30    79
19522       19522  USC00516128  2017-07-26    0.30    73
19523       19523  USC00516128  2017-07-27    0.00    75
19524       19524  USC00516128  2017-07-28    0.40    73
19525       19525  USC00516128  2017-07-29    0.30    77
19526       19526  USC00516128  2017-07-30    0.30    79
19527       19527  USC00516128  2017-07-31    0.00    74
19528       19528  USC00516128  2017-08-01 -999.00    72
19529       19529  USC00516128  2017-08-02    0.25    80
19530       19530  USC00516128  2017-08-03    0.06    76
19531       19531  USC00516128  2017-08-05 -999.00    77
19532       19532  USC00516128  2017-08-06 -999.00    79
19533       19533  USC00516128  2017-08-07    0.05    78
19534       19534  USC00516128  2017-08-08    0.34    74
19535       19535  USC00516128  2017-08-09    0.15    71
19536       19536  USC00516128  2017-08-10    0.07    75
19537       19537  USC00516128  2017-08-11 -999.00    72
19538       19538  USC00516128  2017-08-12    0.14    74
19539       19539  USC00516128  2017-08-13 -999.00    80
19540       19540  USC00516128  2017-08-14    0.22    79
19541       19541  USC00516128  2017-08-15    0.42    70
19542       19542  USC00516128  2017-08-16    0.42    71
19543       19543  USC00516128  2017-08-17    0.13    72
19544       19544  USC00516128  2017-08-18 -999.00    76
19545       19545  USC00516128  2017-08-19    0.09    71
19546       19546  USC00516128  2017-08-20 -999.00    78
19547       19547  USC00516128  2017-08-21    0.56    76
19548       19548  USC00516128  2017-08-22    0.50    76
19549       19549  USC00516128  2017-08-23    0.45    76

[19550 rows x 5 columns]